.navigation {
  text-align: center;
  margin-bottom: 32px;
}
.navigation .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.cards-container card-item {
  display: block;
  width: 100%;
  padding: 15px;
}
.cards-container .card-image {
  width: 100%;
}
.cards-container .card-title {
  font-size: 18px;
  color: black;
  text-align: center;
}
.cards-container .card-link:hover {
  text-decoration: none;
}
.cards-container .card-link:hover .card-title {
  background-color: #eee;
  color: #555;
  border-radius: 4px;
}
.content-container {
  padding: 15px 30px;
}
.content-container h3 {
  margin-top: 0;
}
